#experience
{
    background-color: #212529;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#experience h1
{
    font-family: "Arima Madurai", cursive;
    font-size: 48px;
    font-weight: bolder;
}

#experience h4
{
    color: #00e2ff;
}

#experience .row-ex {
    position: relative;
    font-weight: 600;
    border: 1px solid #06A0E5;
    box-shadow: 0 5px 6px 0 #06A0E5, 0 4px 6px 0 #2b838f;
    display: block;
    color: #00e2ff;
    margin-bottom: 20px;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    z-index: 1;
}

#experience .card-subtitle {
    color: #888;
}